
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    min-height: 100rem;
    background-color: #282834;

}

header {
    height: 3.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

li {
    list-style: none;
}

nav {
    display: flex;
    height: 100%;
    background-color: #363543;
    position: relative;


}

nav div {
    display: flex;
    display: inline-flex;
    margin: 5px 36px 0px 39px;

}

.d1 {
    padding-left: 1rem;
}

.d1 img {
    width: 1.5rem;
    margin-top: 1rem;
    height: 1.5rem;
}

.zobi {
    font-size: 1.5rem;
    padding: 1rem 0rem 0rem 0rem;
    color: white;
}
header nav div.name {

    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}
.d3 {
    margin-top: 1.75rem;
    padding-left: 18.5rem;
}

.d3 img {
    padding-right: 2.5rem;
}

header nav div.name {
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;

}
header nav div.name i,
header nav div.name h1 {
    font-size: 1rem;
    padding: .5rem;

}

header nav div.list {
    flex: 0;
}

header nav div.list ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    margin-top: 8px;
}

header nav div.list ul li {
    font-size: 1.5rem;
    cursor: pointer;
}

.list #id1 {
    font-weight: bold;

}

.list .id {
    font-weight: lighter;
    color: white;
}

header nav div.list ul li a {
    padding-left: 44px;
    color: white;

}
section.section {
    background-color: #363543;
    min-height: 44rem;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 4.5rem;

}

section.section div.introNameSelf {
    width: 48%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
    position: relative;
    z-index: 10;
}

section.section div.introNameSelf div.name {
    height: 60%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

section.section div.introNameSelf div.name h1 span {
    opacity: 0.5;
}


section.section div.introNameSelf div.line {
    margin: 1rem;
    width: 35%;
    background-color: rgb(240, 240, 36);
    height: 5px;
}


section.section div.introNameSelf div.intro {

    width: 48%;
    min-height: 20%;
}

section.section div.introNameSelf div.intro span {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.588);
}

section.section div.introNameSelf div.name h2 {
    font-weight: lighter;
    font-size: 4rem;
    letter-spacing: .3rem;
    color: rgba(255, 255, 255, 0.588);
}

section.section div.introNameSelf div.name h1 {
    font-size: 4.7rem;
    letter-spacing: .5rem;
    color: white;

}
section.section div.image {
    position: absolute;
    width: 45%;
    height: 90%;
    left: 21rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

section.section div.image div.circle {
    margin-top: 2rem;
    background-color: #282834;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 5

}

section.section div.image div.circle img {
    height: 110%;
    width: 65%;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    bottom: -1.5rem;

}
section.section div.serContain {
    min-height: 15rem;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 3rem 5rem 10rem 11rem;
    z-index: 10;
}

section.section div.serContain div.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

section.section div.serContain div.service h1 {
    color: rgba(255, 255, 255, 0.588);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section.section div.serContain div.service p {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.948);
}

.box-2 img {
    width: 8rem;
    height: 2.5rem;
}

a {
    text-decoration: none;
}

section.com {
    min-height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: -4rem;
}

.s1 img {
    width: 9%;
    padding: 0px 0px 7px 10px;
    margin: 2%;
}

.s1 {
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#s2 {
    width: 8%;
    border: 5px solid #7f7585;
    border-radius: 30px;
    background-color: #7f7585;
    display: flex;
    justify-content: flex-start;
    margin: 2%;
    display: inline-block;
}

section.com div.comBox {
    background-color: #363543;
    width: 80%;
    min-height: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px 2px rgb(26, 25, 25);
}

section.com div.comBox div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 4rem;
    background-color: #282834;
    width: 13rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: 1.6rem;
    color: #ffffff;
}

section.needsAndProject {
    height: 25rem;
    display: flex;
    justify-content: center;
}

section.needsAndProject div.need {
    width: 40%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 6.5rem;
}

section.needsAndProject div.need div.content {

    width: 80%;
}

section.needsAndProject div.need div.content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    padding: 1rem 0;
    text-transform: capitalize;
}

section.needsAndProject div.need div.content p {

    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.588);

}

section.needsAndProject div.need div.numbersContainer {
    width: 80%;
    min-height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.needsAndProject div.need div.numbersContainer div.number {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.needsAndProject div.need div.numbersContainer div.number div.num-value {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}

section.needsAndProject div.projectContainer {
    margin-top: -8rem;
    width: 45%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section.needsAndProject div.projectContainer div.project {
    width: 85%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0rem;
    margin-right: 6rem;
    border-bottom: 2.5px solid #363543;
}


section.needsAndProject div.projectContainer div.project div.image {
    height: 70%;
    width: 35%;

}

section.needsAndProject div.projectContainer div.project div.image img {
    height: 110%;
    width: 95%;
    object-fit: cover;
}

section.needsAndProject div.projectContainer div.project div.content {

    padding: 0 0 0 1rem;
    width: 35%;
}

section.needsAndProject div.projectContainer div.project div.content h1:first-child {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: .1rem;
    color: white;
}

.content img {
    padding-left: 17rem;
    line-height: 0px;

}

section.needsAndProject div.projectContainer div.project div.content h1:nth-child(3) {
    color: rgba(255, 255, 255, 0.588);
    font-size: 1rem;
    line-height: 0px;
    font-weight: bold;
}

div.aboutme {
    color: white;
    justify-content: center;
    font-size: 1.5rem;
    margin: 3rem;
    padding: 1rem;
}


div.footerEndBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 4rem 0rem 4rem;
}

div.EndBoxes {
    display: block;
    width: 50%;
    height: 15rem;
    color: white;
    font-size: 1.1rem;
    margin: 1.8rem;
    padding: 1.5rem;
    background-color: #353545;
    box-sizing: content-box;
    box-shadow: 2px 4px 5px 3px #242424;
}

.EndBoxes h3 {
    font-size: 1.7rem;
    line-height: 3rem;
}

.EndBoxes p {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.588);
}

footer img {

    width: 3rem;
    border: 10px solid #282834;
    border-radius: 45%;
    background-color: #282834;
}



 responsive 
@media screen and (max-width:760px) {
    header nav div.name i,
    header nav div.name h1 {
        font-size: 1.8rem;
        padding: .3rem;
    }

    header nav div.list ul {

        flex-direction: column;
    }

    header nav div.list {
        background-color: white;
        position: absolute;
        display: none;
        right: 0;
        width: 100%;
        top: 4rem;
    }

    header nav div.list ul li {
        color: white;
        margin: .5rem 0px;
    }

    header nav div.list ul li a {
        color: white;
    }

    section.section {
        flex-direction: column;
        position: static;
        overflow: hidden;
    }

    section.section div.introNameS {
        width: 100%;
        order: 0;
        min-height: 11rem;
        align-items: center;
        position: static;
    }

    section.section div.introNameSelf div.name {

        justify-content: center;
        width: 95%;
    }

    section.section div.introNameSelf div.name h2,
    section.section div.introNameSelf div.name h1 {
        font-size: 2.5rem;
        letter-spacing: .3rem;
        color: white;
    }

    section.section div.introNameSelf div.name h1 span {
        opacity: 1;
    }

    section.section div.introNameSelf div.intro {

        width: 95%;
        min-height: 20%;
    }


    section.section div.image {
        position: static;
        order: 1;
        min-width: 15rem;
        min-height: 15rem;

    }

    section.section div.image div.circle {
        position: static;
        min-height: 100%;
        min-width: 100%;
        align-items: center;
    }

    section.section div.image div.circle img {
        position: static;
    }


    section.section div.serContain {
        order: 2;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0 3px 0 2px;
    }

    section.section div.serContain div.service {
        width: 80%;
    }


    section.com {
        position: static;
        margin-top: .8rem;
    }

    section.com div.comBox {
        background-color: #4b4b4b;
        width: 80%;
        min-height: 8rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    section.com div.comBox div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 4rem;
        background-color: #363543;
        width: 8rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
        margin-left: .3rem;
    }

    section.needsAndProject {
        flex-direction: column;

        align-items: center;
    }

    section.needsAndProject div.need {

        margin-bottom: 1rem;
        width: 80%;
    }

    section.needsAndProject div.projectContainer {
        width: 80%;
    }

    section.needsAndProject div.projectContainer div.project div.content h1:first-child {
        font-size: 1.2rem;
        margin-bottom: .3rem;
    }

    section.needsAndProject div.projectContainer div.project div.content h1:nth-child(2) {
        font-size: .9rem;
    }

    div.aboutme {
        color: white;
        justify-content: center;
        font-size: 1rem;
        ;
        margin: 1.2rem;
        padding: 0.5rem;
    }

    div.footerEndBoxes {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 2rem 5rem 1rem 5rem;
        padding-top: 3rem;
    }

    div.EndBoxes {
        display: block;
        width: 50%;
        height: 10rem;
        color: white;
        font-size: 1rem;
        margin: 1.5rem;
        padding: 2rem;
        background-color: #222223;
        box-sizing: content-box;
        box-shadow: 2px 4px 12px 3px #242424;
    }*/
    html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.warning {
    display: none;
    position: fixed;
    width: 100vw;
    background-color: #cc3300;
    padding: 10px 0 10px 40px;
    color: white;
}

.warning_active {
    display: block;
}

.warning span {
    font-weight: bold;
}

.hero {
    position: relative;
}

/* Main Heading */

.main_hedaing h1 {
    padding-top: 60px;
    text-align: center;
    font-size: 48px;
}

/* Budget Section */

.budget_section {
    background-color:rgb(192, 155, 52);
    border-radius: 24px;
    margin: 40px;
    padding: 40px 60px;
    color: white;
}

.if_bdg_is_notSet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.bdg_section_display {
    display: none;
}

.bdg_date {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}


.set_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set_budget_btn {
    padding: 12px 22px;
    font-size: 16px;
    color: rgb(52, 52, 192);
    background-color: white;
    border: 2px solid rgb(52, 52, 192);
    transition: ease-in-out 0.3s;
    border-radius: 8px;
}

.from_p,
.to_p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(192, 192, 192);
}

.set_budget_btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);

}

hr {
    border: 0.5px solid rgba(192, 192, 192, 0.4);
}

.budget_content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bud-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.bud-txt h2 {
    font-size: 28px;
}

.bud-txt p {
    font-size: 20px;
}

.bud-txt .over_balace {
    display: none;
    font-size: 16px;
    color: red;
    text-align: center;
    text-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
}

.budget_btns {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.budget_btns button {
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 22px;
    color: rgb(52, 52, 192);
    background-color: white;
    border: none;
    transition: ease-in-out 0.3s;
}

.budget_btns button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
}

/* budget form */

.form_container {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.budget_form {
    padding: 40px;
    position: fixed;
    border-radius: 12px;
    background-color: rgb(236, 236, 236);
    width: 800px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.3);
}

.budget_form_display {
    display: flex;
}

.budget_form h2 {
    font-size: 36px;
    color: rgb(52, 52, 192);
    margin-bottom: 20px;
    text-align: center;
}

.budget_form input {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.budget_form input:focus {
    border: 2px solid rgb(52, 52, 192);
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.budget_form label {
    font-size: 18px;
    font-weight: 600;
}

.tot_bdg_inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.tot_bdg_inp input {
    width: 80%;
}

.rng_bg_date {
    display: flex;
    margin-top: 5px;
    gap: 40px;
}

.rng_bg_date p {
    font-size: 14px;
    color: rgb(114, 114, 114);
}

.bdg_form_btns {
    margin: 40px 0;
}

.bdg_form_btns input {
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid rgb(52, 52, 192);
    transition: ease-in-out 0.3s;
}

.bdg_form_btns input:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.set_bdg_btn {
    background-color: rgb(52, 52, 192);
    color: white;
    outline: none;
}

.cancel_bdg_btn {
    background-color: white;
    margin-left: 20px;
    color: rgb(52, 52, 192);
}

/* Expense Section */
.expense_section {
    background-color: rgb(29, 50, 128);
    color: aliceblue;
    padding: 60px;
    margin: 40px;
    border-radius: 24px;
}



.expense_list_container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 16px;
    padding: 20px 40px;
    margin-top: 20px;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.3);
}

.cat_name {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 3px;

}

.cat_name h6 {
    font-size: 18px;
}

.cat_name p {
    font-size: 14px;
    color: rgb(37, 37, 37);
}

.exp_desc {
    flex: 14;
}

.exp_desc p {
    text-align: justify;
    font-size: 14px;
}

.exp_desc h4 {
    color: rgb(153, 153, 153);
    font-size: 14px;
    margin-bottom: 5px;
}

.exp_icon,
.cat_icon {
    width: 32px;
    height: 32px;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.cat_icon i {
    font-size: 18px;
    color: white;
}

.exp_icon i {
    font-size: 18px;
    color: rgb(52, 52, 192);
    transition: ease-in-out 0.3s;
}

.exp_icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.exp_icon:hover .exp_edit {
    color: rgb(6, 6, 148);
}

.exp_icon:hover .exp_delete {
    color: red;
}

.desc_container_active {
    display: block;
}

.add_exp_btn button {
    padding: 12px 22px;
    font-size: 16px;
    background-color: rgb(52, 52, 192);
    color: white;
    border: 2px solid rgb(52, 52, 192);
    border-radius: 8px;
    transition: ease-in-out 0.3s;
    margin-top: 40px;
}

.add_exp_btn button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);

}

/* Expense Form */

.exp_form_container {
    top: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.exp_form_active {
    display: none;
}

.exp_form {
    position: fixed;
    background-color: rgb(236, 236, 236);
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 40vw;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.3);
}

.exp_form h2 {
    text-align: center;
    color:black(52, 52, 192);
    font-size: 32px;
}

.exp_form label {
    font-size: 16px;
    margin-top: 20px;
}

.exp_form input,
select {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.exp_form input:focus {
    border: 2px solid rgb(52, 52, 192);
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.exp_form select:focus {
    border: 2px solid rgb(52, 52, 192);
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.exp_form_btns input {
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid rgb(52, 52, 192);
    transition: ease-in-out 0.3s;
    margin-top: 40px;
}

.exp_form_btns input:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.exp_btn_add {
    background-color: rgb(52, 52, 192);
    color: white;
    outline: none;

}

.exp_btn_cancel {
    background-color: white;
    margin-left: 20px;
    color: rgb(52, 52, 192);
}



/* Media Query */
@media screen and (max-width: 1000px) {

    /* Budget Form */
    .budget_form {
        width: 500px;
    }

}

@media screen and (max-width: 750px) {

    .warning {
        font-size: 14px;
    }

    /* Main Heading */

    .main_hedaing h1 {
        padding-top: 50px;
        font-size: 32px;
    }

    /* Budget Section */
    .budget_section {
        margin: 20px 40px;
        padding: 40px;
    }
    
    .if_bdg_is_notSet {
        font-size: 14px;
    }

    .from_p,
    .to_p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #strt_date,
    #end_date {
        font-size: 16px;
    }

    .bud-txt h2 {
        font-size: 20px;
    }

    .bud-txt p {
        font-size: 16px;
    }

    #over_balace{
        font-size: 10px;
    }

    /* Budget Form */
    .budget_form {
        width: 400px;
        padding-bottom: 10px;
    }

    .budget_form h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .budget_form label {
        font-size: 14px;
    }

    .tot_bdg_inp input{
        width: 100%;
    }

    .rng_bg_date {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .rng_bg_date input {
        width: 100%;
    }

    .rng_bg_date p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    /* Expense Form */
    .exp_form {
        width: 60vw;
    }
    
    .exp_form h2 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    
    .exp_form label {
        font-size: 16px;
        margin-top: 15px;
    }
    
    .exp_form input,
    select {
        font-size: 14px;
        margin-top: 5px;
    }
    
    .exp_form_btns input {
        margin-top: 30px;
    }

    /* Expense Section */
    .expense_section {
        padding: 40px;
        margin: 40px;
    }
    
    .expense_list_container {
        padding: 15px 30px;
        gap: 15px;
    }
    
    .cat_name {
        flex: 5;
    }
    
    .cat_name h6 {
        font-size: 14px;
    }
    
    .cat_name p {
        font-size: 10px;
    }
    
    .exp_desc {
        flex: 14;
    }
    
    .exp_desc p {
        text-align: justify;
        font-size: 12px;
    }
    
    .exp_desc h4 {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .exp_icon,
    .cat_icon {
        width: 28px;
        height: 28px;
    }
    
    .cat_icon i {
        font-size: 16px;
    }
    
    .exp_icon i {
        font-size: 16px;
    }

}

@media screen and (max-width: 650px){
    .warning {
        font-size: 12px;
    }

    /* Main Heading */
    .main_hedaing h1 {
        padding-top:40px;
        font-size: 28px;
    }

    /* Budget Section */
    
    .if_bdg_is_notSet {
        font-size: 12px;
    }

    .set_budget_btn{
        font-size: 14px;
        padding: 12px 14px;
    }

    .from_p,
    .to_p {
        font-size: 10px;
        margin-bottom: 3px;
    }

    #strt_date,
    #end_date {
        font-size: 14px;
    }

    .bud-txt h2 {
        font-size: 16px;
    }

    .bud-txt p {
        font-size: 14px;
    }

    #over_balace{
        font-size: 8px;
    }

    .budget_btns{
        margin-top: 20px;
    }

    .budget_btns button{
        font-size: 14px;
        padding: 12px 14px;
    }

    /* Budget Form */
    .budget_form {
        width: 300px;
    }

    .budget_form h2 {
        font-size: 24px;
    }

    .budget_form label {
        font-size: 14px;
    }

    .rng_bg_date {
        gap: 15px;
    }

    .rng_bg_date p {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .bdg_form_btns{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }

    .bdg_form_btns input{
        font-size: 14px;
        padding: 12px 14px;
    }

    /* Expense Form */
    .exp_form {
        width: 300px;
    }
    
    .exp_form h2 {
        font-size: 24px;
    }
    
    .exp_form label {
        font-size: 14px;
    }
    
    .exp_form input,
    select {
        font-size: 12px;
        padding: 7px 10px;
    }
    
    .exp_form_btns input {
        margin-top: 25px;
    }


    /* Expense Section */

    .expense_hd h2{
        font-size: 18px;
    }
    
    .expense_list_container {
        padding: 10px 20px;
        gap: 10px;
    }
    
    .cat_name {
        flex: 5;
    }
    
    .cat_name h6 {
        font-size: 12px;
    }
    
    .cat_name p {
        font-size: 8px;
    }
    
    .exp_desc {
        flex: 14;
    }
    
    .exp_desc p {
        font-size: 12px;
    }
    
    .exp_desc h4 {
        font-size: 10px;
        margin-bottom: 3px;
    }
    
    .exp_icon,
    .cat_icon {
        width: 24px;
        height: 24px;
    }
    
    .cat_icon i {
        font-size: 12px;
    }
    
    .exp_icon i {
        font-size: 12px;
    }

    .exp_price p{
        font-size: 14px;
    }

    .add_exp_btn button{
        font-size: 14px;
        padding: 12px 14px;
    }
}

@media screen and (max-width: 500px){
    .warning {
        font-size: 8px;
    }

    /* Main Heading */
    .main_hedaing h1 {
        padding-top:30px;
        font-size: 20px;
    }

    /* Budget Section */
    
    .if_bdg_is_notSet {
        font-size: 8px;
    }

    .set_budget_btn{
        font-size: 10px;
        padding: 10px 12px;
    }

    .from_p,
    .to_p {
        font-size: 8px;
        margin-bottom: 2px;
    }

    #strt_date,
    #end_date {
        font-size: 10px;
    }

    .bud-txt h2 {
        font-size: 10px;
    }

    .bud-txt p {
        font-size: 8px;
    }

    #over_balace{
        font-size: 6px;
    }

    .budget_btns{
        margin-top: 15px;
    }

    .budget_btns button{
        font-size: 10px;
        padding: 10px 12px;
    }

    /* Budget Form */
    .budget_form {
        width: 250px;
    }

    .budget_form h2 {
        font-size: 18px;
    }

    .budget_form label {
        font-size: 10px;
    }

    .budget_form input{
        padding: 8px 8px;
        font-size: 10px;
    }

    .rng_bg_date {
        gap: 10px;
    }

    .rng_bg_date p {
        font-size: 8px;
        margin-bottom: 3px;
    }

    .bdg_form_btns{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }

    .bdg_form_btns input{
        font-size: 10px;
        padding: 10px 12px;
    }

    /* Expense Form */
    .exp_form {
        width: 250px;
    }
    
    .exp_form h2 {
        font-size: 18px;
    }
    
    .exp_form label {
        font-size: 12px;
    }
    
    .exp_form input,
    select {
        font-size: 10px;
        padding: 8px 10px;
    }
    

    /* Expense Section */

    .expense_hd h2{
        font-size: 12px;
    }
    
    .expense_list_container {
        padding: 10px 15px;
        gap: 5px;
    }
    
    .cat_name {
        flex: 5;
    }
    
    .cat_name h6 {
        font-size: 10px;
    }
    
    .cat_name p {
        font-size: 8px;
    }
    
    .exp_desc {
        /* flex: 14; */
        display: none;
    }
    
    .exp_desc p {
        font-size: 12px;
    }
    
    .exp_desc h4 {
        font-size: 8px;
        margin-bottom: 3px;
    }
    
    .exp_icon,
    .cat_icon {
        width: 18px;
        height: 18px;
    }
    
    .cat_icon i {
        font-size: 8px;
    }
    
    .exp_icon i {
        font-size: 8px;
    }

    .exp_price p{
        font-size: 8px;
    }

    .add_exp_btn button{
        font-size: 10px;
        padding: 10px 12px;
    }

}